/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  font-family: roboto;
  background-color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f8fafc;
  font-size: 35px;
  text-align: center;
}
.image {
  height: 150px;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .image {
    height: 300px;
    width: 300px;
  }
  .heading {
    font-size: 60px;
  }
}
